.center{
    width: 750px;
	left: 50%;
	top:50%;
	transform: translate(-50%, -50%);
    position: absolute;
    border-color: slategrey;
    border-style: solid;
    border-width: 1px;
}

.above{
    height:100px;
}

.linha{
    height:20px;
}

.titulo{
    height:80px;
}

.coluna-1{
    width:130px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

.coluna-2{
    width:428px;
    padding: 10px;
    display: inline-block;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}

.coluna-3{
    width:130px;
    padding: 10px;
    vertical-align: top;
    display: inline-block;
}